<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sidedrive.brooom">

    <application
        android:name=".GlobalVariableMaintaining"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DriverLoginActivity" />
        <activity android:name=".RiderLoginActivity" />
        <activity android:name=".MapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".DriverMapsActivity"
            android:label="@string/title_activity_driver_maps" />
        <activity
            android:name=".RiderMapsActivity"
            android:label="@string/title_activity_rider_maps"></activity>

        <activity
            android:name=".Signup_Rider"
            android:parentActivityName=".SelectSignup" />
        <activity
            android:name=".SelectSignup"
            android:parentActivityName=".PasswordEnterActivity" />
        <activity
            android:name=".ConfirmMobile"
            android:parentActivityName=".Home" />
        <activity
            android:name=".SelectPaymentMethod"
            android:parentActivityName=".Home" />
        <activity
            android:name=".FrogetPassword"
            android:parentActivityName=".PasswordEnterActivity" />
        <activity
            android:name=".SendCode"
            android:parentActivityName=".FrogetPassword" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EndOfTrip"
            android:parentActivityName=".Home" />
        <activity
            android:name=".PasswordEnterActivity"
            android:parentActivityName=".MobileNumberEnterActivity" />
        <activity
            android:name=".MobileNumberEnterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Complain"
            android:parentActivityName=".Home" />
        <activity
            android:name=".UserSetting"
            android:parentActivityName=".Home" />
        <activity
            android:name=".PhoneNoVerification"
            android:parentActivityName=".MobileNumberEnterActivity" />
        <activity
            android:name=".EditProfile"
            android:parentActivityName=".UserSetting" />
        <activity android:name=".TripList" />
        <activity android:name=".AddTrip"></activity>
    </application>
</manifest>
